[serverinfo]
serverhost:i13monserver.com
serverPort:13456

#location of ssl certificates
[ssl]
certFile:i13monclient.pem
keyFile:i13monclient.key

[rfpi]
port=/dev/ttyAMA0
baud=9600

#decoder information for node 10
[node10]
10:16fd1706-7baf-433b-82eb-xxxxxxxxx
rec_data_format :<BBBBBBBBBBBB
real_data_format  :<hhhhhh
power1 :
power2 :
power3 :
power4 :
Vrms :
temp :

[temp-hum]
rec_data_format :<BBBBBBBB
real_data_format  :<hhhh
19:fbd2448d-9103-44b2-b3c8-a90727396e49
22:7eb124b1-3e3a-4361-9aaf-b205bab1f93f
23:d9367a07-7f58-43ef-a6da-9976bb5b098e
24:98a0c5a3-0b0e-4706-b824-9e7ca1afee71
temp:
temp_external:
humidity:
battery:

[zigbee]
plugmeters=00:13:A2:00:40:XX:XX:XX; 00:13:A2:00:40:XX:XX:XX;
multisensors=